/* scss/molecules/_m-aitom-logo.scss */

.m-aitom-logo {
    $self: &;

    @include text-underline(none);
    color: inherit;
    display: inline-block;
    height: em(27px);
    vertical-align: middle;
    width: em(80px);

    &__logo {
        height: 100%;
        overflow: visible;
        width: 100%;
    }

    &__symbol {
        fill: currentColor;
        transform: rotate(0);
        transform-origin: 20px center;
        transition: 1.8s;
    }

    &__text {
        fill: currentColor;
    }

    &:hover {

        #{$self}__symbol {
            transform: rotate(720deg);
        }
    }
}