/* scss/molecules/_m-flash-messages.scss */

.m-flash-messages {
    overflow: hidden;
    padding: em(10px);
    padding-top: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;

    @media(min-width: breakpoint-min(sm)) {
        max-width: em(400px);
        width: 50%;
    }
}