/* scss/molecules/_m-form-checkbox.scss */

.m-form-checkbox {
    @extend .sr-only;
    $self: &;

    + #{$self}__label {
        cursor: pointer;
        display: block;
        margin-bottom: space(1);
        margin-top: space(1);
        position: relative;
        user-select: none;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        @media(min-width: breakpoint-min(sm)) {
            &--inline {
                display: inline-block;
                margin: 0;
                margin-right: em(10px);
            }
        }

        &:before {
            @include icon();
            border: 1px solid color('gray');
            content: ' ';
            display: inline-block;
            height: em(20px);
            line-height: em(20px);
            margin-right: em(10px);
            overflow: hidden;
            text-align: center;
            vertical-align: text-bottom;
            width: em(20px);
        }
    }

    &[disabled="disabled"] {

        + #{$self}__label {
            cursor: default;
        }
    }

    &:checked {

        + #{$self}__label {

            &:before {
                content: map-get($icons, 'check');
            }
        }
    }

    &.focus-visible {

        &:focus {

            + #{$self}__label {

                &:before {
                    outline: 1px dotted color('black');
                    outline: auto 5px -webkit-focus-ring-color; // sass-lint:disable-line no-duplicate-properties no-vendor-prefixes
                }
            }
        }
    }
}