/* scss/molecules/_m-form-upload.scss */

.m-form-upload {
    $self: &;

    position: relative;

    &__input {
        cursor: pointer;
        display: block;
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 19;

        &:hover {
            outline: none;
        }

        &.focus-visible {

            &:focus {

                + #{$self}__control {
                    outline: 1px dotted color('black');
                    outline: auto 5px -webkit-focus-ring-color; // sass-lint:disable-line no-duplicate-properties no-vendor-prefixes
                }
            }
        }
    }

    &__control {
        margin-right: em(10px);
    }

    &__path {

        &:not(:empty) {
            display: block;
            margin-top: em(10px);

            &:before {
                content: attr(data-text);
            }
        }
    }
}