/* scss/molecules/_m-gallery.scss */

.m-gallery {

    &__item {
        @include text-underline(none);
        display: block;
        position: relative;
    }

    &__icon {
        @include font-size(xx-large);
        color: color('white');
        left: 50%;
        margin: em(-50%);
        position: absolute;
        top: 50%;
    }
}