/* scss/molecules/_m-lang.scss */

.m-lang {
    $self: &;

    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    vertical-align: middle;

    @media(min-width: breakpoint-min($menu-breakpoint)) {
        border: 1px solid color('gray');
        border-bottom: 0;
        border-top: 0;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        transition: border-color $base-transition;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: left;

        @media(min-width: breakpoint-min($menu-breakpoint)) {
            background: color('white');
            box-shadow: 0 0 em(8px) color('shadow');
            left: 0;
            max-height: 0;
            overflow: hidden;
            position: absolute;
            right: 0;
            top: 0;
            transition: max-height $base-transition ease-in, box-shadow $base-transition;
            z-index: 2;
        }
    }

    &__item {
        border: 1px solid color('gray');
        border-bottom: 0;
        border-top: 0;
        float: left;
        margin: 0;
        padding-left: 15px;
        padding-right: 15px;

        + #{&} {
            border-left: 0;
        }

        @media(min-width: breakpoint-min($menu-breakpoint)) {
            border: 0;
            float: none;
            padding-left: 0;
            padding-right: 0;

            &--active + #{&} {
                margin-top: 5px;
            }
        }
    }

    &--nosearch {
        margin-right: 0;

        @media(min-width: breakpoint-min($menu-breakpoint)) {
            border-right: 0;
        }

        #{$self}__item {

            &:last-child {
                border-right: 0;
                padding-right: 0;
            }
        }
    }

    &__link,
    &__control {
        @include text-underline(none);
        cursor: pointer;
        line-height: line-height(large);

        &,
        &:visited,
        &:hover,
        &:focus {
            color: color('black');
        }
    }

    &__status {
        display: none;
    }

    &__control {
        display: none;
    }

    @media(min-width: breakpoint-min($menu-breakpoint)) {
        &__link {
            display: block;
            line-height: line-height(medium);
            padding: 8px 15px;
        }

        &__control,
        &__item--active &__link {
            line-height: line-height(large);
            padding-bottom: 0;
            padding-top: 0;
        }

        &__control {
            display: block;
            position: relative;
            z-index: 3;

            &:after {
                background: color('gray');
                bottom: -1px;
                content: '';
                display: block;
                height: 1px;
                left: 0;
                opacity: 0;
                position: absolute;
                transition: $base-transition;
                width: 100%;
            }
        }

        &__item--active &__link {
            visibility: hidden;
        }
    }

    &__caret {
        display: none;

        @media(min-width: breakpoint-min($menu-breakpoint)) {
            $caret-width: em(3px);

            @include caret($caret-width, down);
            display: inline-block;
            margin-left: $caret-width * .85;

            &:after {
                transition: transform $base-transition;
            }
        }
    }

    &__name {
        text-transform: uppercase;
    }
    
    @media(min-width: breakpoint-min($menu-breakpoint)) {
        &:hover {
            border-color: transparent;

            #{$self}__list {
                height: auto;
                max-height: 160px;
                transition: max-height $base-transition ease-out, box-shadow $base-transition;
            }

            #{$self}__caret {

                &:after {
                    transform: rotate(-180deg);
                }
            }

            #{$self}__control {

                &:after {
                    bottom: -5px;
                    opacity: 1;
                }
            }
        }
    }

    @media (hover: none) {
        &:hover {
            border-color: color('gray');

            #{$self}__list {
                height: 0;
                max-height: 0;
                transition: max-height $base-transition ease-in, box-shadow $base-transition;
            }

            #{$self}__caret {

                &:after {
                    transform: rotate(0);
                }
            }

            #{$self}__control {

                &:after {
                    bottom: -1px;
                    opacity: 0;
                }
            }
        }

        &__status {

            &:checked + #{$self} {
                border-color: transparent;

                #{$self}__list {
                    height: auto;
                    max-height: 160px;
                    transition: max-height $base-transition ease-out, box-shadow $base-transition;
                }

                #{$self}__caret {

                    &:after {
                        transform: rotate(-180deg);
                    }
                }

                #{$self}__control {

                    &:after {
                        bottom: -5px;
                        opacity: 1;
                    }
                }
            }
        }
    }
}