/* scss/molecules/_m-nav-base.scss */

.m-nav-base {
    overflow: hidden;

    &__list {
        display: inline-block;
        list-style: none;
        margin: em(-10px -5px);
    }

    &__item {
        display: inline-block;
        margin: em(10px) 0;
        padding-left: em(5px);
        padding-right: em(5px);
        vertical-align: middle;
    }

    &--sep &__list {
        margin-left: em(-30px);
        margin-right: em(-30px);
    }

    &--sep &__item {
        padding-left: em(30px);
        padding-right: em(30px);
    }
}