/* scss/molecules/_m-nav-header.scss */

.m-nav-header {
    font-size: 0;

    &__list {
        @include font-size(medium);
        color: color('black');
        list-style: none;

        @media(min-width: breakpoint-min($menu-breakpoint)) {
            @include font-size(small);
            display: inline-block;
            margin-left: em(-15px);
            margin-right: em(-15px);
        }

        @media(min-width: breakpoint-min(xl)) {
            @include font-size(normal);
        }
    }

    &__item {
        margin: em(10px) 0;

        @media(min-width: breakpoint-min($menu-breakpoint)) {
            display: inline-block;
            line-height: 40px;
            margin: 0;
            padding-left: em(15px);
            padding-right: em(15px);
        }

        &--parent {
            position: relative;
        }
    }

    &__link {
        @include text-underline(none, underline);
        display: block;

        &,
        &:visited {
            color: color('black');
        }

        &:hover,
        &:focus {
            color: color('black');
        }

        &--active {

            &,
            &:visited {
                color: color('black');
            }
        }
    }
}