/* scss/molecules/_m-pagination.scss */

.m-pagination {
    display: inline-block;
    font-size: 0;
    margin: space(1) * -1;

    &__wrap {
        padding-top: space(2);
        text-align: center;

        @media(min-width: breakpoint-min(lg)) {
            padding-top: space(3);
        }
    }

    &__i {
        @include font-size(normal);
        @include text-underline(none);
        box-sizing: content-box;
        display: inline-block;
        line-height: em(38px);
        margin: space(1);
        padding: 0;
        text-align: center;
        transition: color $base-transition;
        width: em(38px);

        &,
        &:visited {
            color: color('gray');
        }

        &:hover,
        &:focus,
        &#{&}--active {
            color: color('black');
        }

        @media(min-width: breakpoint-min(md)) {

            &--first,
            &--prev {
                float: left;
            }
        }
    }

    &__break {

        @media(min-width: breakpoint-min(md)) {
            display: none;
        }
    }
}