/* scss/molecules/_m-social-icons.scss */

.m-social-icons {

    &__list {
        display: inline-block;
        list-style: none;
        margin: em(-10px);
    }

    &__item {
        margin: em(10px);
    }

    &--inline &__item {
        display: inline-block;
        vertical-align: middle;
    }

    &__link {
        @include font-size(large);
        @include text-underline(none);
        transition: color $base-transition;

        &,
        &:visited {
            color: color('black');
        }

        &:hover,
        &:focus {
            color: color('black');
        }
    }
}