/* scss/molecules/_m-section.scss */

.m-section {
    padding: em(40px) 0;
    position: relative;

    @media(min-width: breakpoint-min(lg)) {
        padding: em(60px) 0;
    }

    &__content {
        position: relative;
        z-index: 1;
    }

    & #{&}__background {
        z-index: 0;
    }

    &-grow {
        flex: 1 0 auto;
    }
}