/* scss/molecules/_m-table.scss */

.m-table {

    &__wrap {
        overflow-x: auto;
    }

    & #{&}__head {
        display: none;

        @media (min-width: breakpoint-min(lg)) {
            display: table-cell;
        }
    }

    & #{&}__col {
        display: block;
        padding: space(1);

        &[data-th] {

            &:before {
                content: attr(data-th) ": ";
                display: block;

                @media (min-width: breakpoint-min(lg)) {
                    display: none;
                }
            }
        }

        &:not(:first-child) {
            border-top: 1px solid color('gray-light');
        }

        @media (min-width: breakpoint-min(lg)) {
            display: table-cell;
            padding: space(2);

            &:not(:first-child) {
                border-top: 0;
            }
        }
    }

    & #{&}__row {

        &:nth-child(odd) {
            background: color('gray');
        }

        &:nth-child(even) {
            background: transparent;
        }
    }

    &__thead + &__tbody &__row {

        @media (min-width: breakpoint-min(lg)) {
            &:nth-child(odd) {
                background: transparent;
            }

            &:nth-child(even) {
                background: color('gray');
            }
        }
    }
}