		</main>

	</div>

	<footer class="o-footer">
		<div class="o-footer__widgets">
			<div class="container">
				<div class="row">
					<div class="o-footer__logo col-lg-6">
						<a href="@@webRoot">
							<img src="@@webRoot/assets/images/logo.svg?ver=1" alt="Logo" class="o-footer__logo__icon">
						</a>
					</div>
					<div class="o-footer__column col-sm-12 col-lg-6">
						<h3 class="o-footer3__title">Název sekce</h3>

						<nav>
							<ul class="m-list">
								<li class="m-list__item">
									<a href="#">Název odkazované stránky</a>
								</li>
								<li class="m-list__item">
									<a href="#">Název odkazované stránky</a>
								</li>
								<li class="m-list__item">
									<a href="#">Název odkazované stránky</a>
								</li>
								<li class="m-list__item">
									<a href="#">Název odkazované stránky</a>
								</li>
							</ul>
						</nav>
					</div>
					<div class="o-footer__column col-sm-12 col-lg-6">
						<h3 class="o-footer3__title">Název sekce</h3>

						<nav>
							<ul class="m-list">
								<li class="m-list__item">
									<a href="#">Název odkazované stránky</a>
								</li>
								<li class="m-list__item">
									<a href="#">Název odkazované stránky</a>
								</li>
								<li class="m-list__item">
									<a href="#">Název odkazované stránky</a>
								</li>
								<li class="m-list__item">
									<a href="#">Název odkazované stránky</a>
								</li>
							</ul>
						</nav>
					</div>
					<div class="o-footer__icons col-lg-6">
						<h3 class="o-footer__title mb-0">Sledujte nás</h3>

						<div class="m-social-icons m-social-icons--inline">
							<ul class="m-social-icons__list">
								<li class="m-social-icons__item">
									<a href="#" class="m-social-icons__link" target="_blank"><i class="a-icon-image" aria-hidden="true"></i></a>
								</li><li class="m-social-icons__item">
									<a href="#" class="m-social-icons__link" target="_blank"><i class="a-icon-image" aria-hidden="true"></i></a>
								</li><li class="m-social-icons__item">
									<a href="#" class="m-social-icons__link" target="_blank"><i class="a-icon-image" aria-hidden="true"></i></a>
								</li><li class="m-social-icons__item">
									<a href="#" class="m-social-icons__link" target="_blank"><i class="a-icon-image" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="o-footer__socket">
			<div class="container">
				<div class="row align-items-center">
					<div class="o-footer__copy col-md-12">
						Copyright 2000, All rights reserved
					</div>
					<div class="o-footer__aitom col-md-12">
						<a href="https://www.aitomdigital.com/" target="_blank" class="m-aitom-logo">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100.994 34" class="m-aitom-logo__logo"><path class="m-aitom-logo__text" d="M50.137 12.632h4.426l3.888 9.133h-3.836l-.384-1.05h-3.76l-.384 1.05H46.25m6.113-6.37h-.026l-1.074 3.095h2.174l-1.074-3.095zM58.95 12.632h3.607v9.133H58.95zM66.766 14.934h-3.34v-2.302h10.285v2.302h-3.337v6.83h-3.607M80.298 12.312c2.188 0 6.242.154 6.242 4.886 0 4.733-4.054 4.886-6.242 4.886-2.187 0-6.242-.14-6.242-4.886 0-4.732 4.055-4.886 6.242-4.886m0 7.47c1.484 0 2.405-.73 2.405-2.584s-.92-2.584-2.405-2.584c-1.483 0-2.404.73-2.404 2.584 0 1.855.92 2.584 2.404 2.584M87.82 12.632h5.078l1.496 5.308h.026l1.496-5.308h5.078v9.133H97.72V15.24h-.026l-1.918 6.525h-2.738L91.12 15.24h-.026v6.525H87.82"></path><path class="m-aitom-logo__symbol" d="M28.495 9.434c.115-.23.14-.358.09-.512-.372-1.036-2.034-.793-2.674-.345-.562.384-.792.934-.792.934s-2.865 5.232-3.172 5.808c-.307.563.14.793.665.793L37.86 16.1h.294c.115 0 .78.04 1.164-.51 1.01-1.472-.64-2.214-1.612-2.253l-.946-.038h-10.36l2.007-3.633c-.025-.025-.025-.025.09-.23M16.586 7.17c-.14-.217-.243-.294-.396-.32-1.087-.192-1.7 1.37-1.637 2.15.05.677.41 1.15.41 1.15s3.12 5.09 3.452 5.64c.333.55.755.27 1.024-.19.267-.46 7.57-13.24 7.57-13.24l.142-.255c.05-.102.422-.652.128-1.266-.768-1.613-2.24-.55-2.75.28l-.5.806-5.154 8.992-2.162-3.543-.128-.205M7.287 13.144c-.256.012-.383.05-.486.166-.728.83.283 2.16.973 2.52.602.307 1.203.255 1.203.255s5.973 0 6.613.013c.638 0 .625-.5.37-.972-.256-.46-7.317-13.38-7.317-13.38l-.153-.255c-.052-.1-.333-.703-1.01-.767C5.7.543 5.84 2.348 6.276 3.218l.422.857 4.962 9.094-4.144-.026h-.23M11.125 24.58c-.116.23-.14.357-.077.51.37 1.036 2.034.793 2.673.346.55-.384.794-.934.794-.934l3.172-5.794c.307-.563-.14-.793-.665-.793l-15.246.012H1.48c-.115 0-.78-.038-1.164.525-1.01 1.47.64 2.213 1.612 2.25l.946.027h10.36l-2.007 3.63-.102.22M23.007 26.83c.14.217.243.294.397.332 1.087.18 1.7-1.368 1.637-2.148-.05-.678-.408-1.152-.408-1.152s-3.12-5.09-3.454-5.64c-.332-.55-.754-.27-1.023.18-.27.46-7.572 13.237-7.572 13.237l-.14.255c-.052.102-.423.652-.13 1.266.77 1.613 2.24.55 2.75-.28l.5-.806 5.155-8.992 2.15 3.543c.012 0 .012 0 .14.205M32.652 20.856c.256-.012.384-.05.486-.166.73-.818-.28-2.16-.972-2.52-.6-.307-1.203-.255-1.203-.255s-5.973-.013-6.613-.013c-.64 0-.626.51-.37.972.255.46 7.316 13.38 7.316 13.38l.154.255c.05.1.332.703 1.01.767 1.778.19 1.637-1.625 1.202-2.495l-.422-.844-4.963-9.094 4.145.025.23-.014"></path></svg>
						</a>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<!--[if lte IE 10]>
		<input type="checkbox" id="theme-notice-status-ie" class="a-theme-notice__status" checked="checked">

		<div class="a-theme-notice">
			<p class="h3">Je nám líto váš prohlížeč je zastaralý</p>

			<p>Zdá se, že nemáte aktualizovaný prohlížeč. Je možné, že se vám stránky nebudou zobrazovat správně. Prosíme, aktualizujte si prohlížeč, nebo si přečtěte víc <a target="_blank" href="https://www.aitom.cz/proc-je-nutne-aktualizovat-prohlizec">zde</a>.</p>

			<label for="theme-notice-status-ie" class="a-theme-notice__close" aria-label="Zavřít">&#10005;</label>
		</div>

		<div class="a-theme-notice__background"></div>
	<![endif]-->

	<noscript>
		<input type="checkbox" id="theme-notice-status-noscript" class="a-theme-notice__status" checked="checked">

		<div class="a-theme-notice">
			<p class="h3">Prosím zapněte si Javascript pro správný chod webu</p>

			<p>Zdá se, že nemáte zapnutý Javascript. Je možné, že se vám stránky nebudou zobrazovat správně. Prosíme, zapněte si Javascript, nebo si přečtěte víc <a target="_blank" href="https://www.aitom.cz/proc-je-nutne-aktualizovat-prohlizec">zde</a></p>

			<label for="theme-notice-status-noscript" class="a-theme-notice__close" aria-label="Zavřít">&#10005;</label>
		</div>

		<div class="a-theme-notice__background"></div>
	</noscript>

	<script>
		window.lazySizesConfig = window.lazySizesConfig || {};
		window.lazySizesConfig.init = false;

		var magnificPopup_i18n = {
				tClose: 'Zavřít (Esc)',
				tLoading: 'Načítám...',
				gallery: {
					tPrev: 'Předchozí',
					tNext: 'Následující',
					tCounter: '%curr% / %total%'
				},
				image: {
					tError: '<a href="%url%">Obrázek</a> se nepodařilo načíst.',
					titleSrc: 'title'
				},
				ajax: {
					tError: '<a href="%url%">Obsah</a> se nepodařilo načíst.'
				}
			};
	</script>

	<script src="@@webRoot/assets/js/scripts.js"></script>

</body>
</html>