$grid-columns: 24 !default;

$grid-gutter-width: 30px !default;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1280px
) !default;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1230px
) !default;

$start-calc-size: 310px !default;

$end-calc-size: 1200px !default;

$spacer: 40px !default;

$spacers: (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 2)
) !default;

$sizes: (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%
) !default;

$base-radius: 0;

$base-transition: .3s;

$menu-status: '.menu-status:not(:disabled):checked + .menu-for-open';

$menu-breakpoint: lg;

$colors: (
    'red': #e00000,
    'green': #3bb324,
    'orange': #f2a200,
    'white': #fff,
    'black': #000,
    'gray-light': #ebebeb,
    'gray': #d8d8d8,
    'gray-dark': #575757,
    'gray-dark-extra': #3d3d3d,
    'shadow': transparentize(#000, .8)
) !default;

$font-families: (
    'first': ('Source Sans Pro, Arial, sans-serif', ('regular': 400, 'bold': 700)),
    'icons': ('Material Icons', ('regular': 400))
) !default;

$font-sizes: (
    xx-large: (
        min: 28px,
        max: 38px
    ),
    x-large: (
        min: 28px,
        max: 48px
    ),
    large: 24px,
    medium: 20px,
    normal: 16px,
    small: 12px
) !default;

$line-heights: (
    large: 1.8,
    normal: 1.6,
    medium: 1.4,
    small: 1.2
) !default;

$icons: (
    'attachment': 'attachment',
    'cloud_upload': 'cloud_upload',
    'file_upload': 'file_upload',
    'check': 'check',
    'image': 'image',
    'mail': 'mail_outline',
    'open_in_new': 'open_in_new',
    'place': 'place',
    'play': 'play_circle_filled',
    'refresh': 'refresh',
    'search': 'search'
);