/* scss/base/_text.scss */

.text {

    &-justify {
        text-align: justify;
    }

    &-nowrap {
        white-space: nowrap;
    }

    &-truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @each $breakpoint in map-keys($grid-breakpoints) {
        @include media-breakpoint-up($breakpoint) {
            $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

            &#{$infix}-left {
                text-align: left;
            }

            &#{$infix}-right {
                text-align: right;
            }

            &#{$infix}-center {
                text-align: center;
            }
        }
    }

    &-lowercase {
        text-transform: lowercase;
    }

    &-uppercase {
        text-transform: uppercase;
    }

    &-capitalize {
        text-transform: capitalize;
    }

    &-hide {
        @include text-hide();
    }

    &-underline {
        @include text-underline(underline);

        &-never {
            @include text-underline(none);
        }

        &-on-hover {
            @include text-underline(none, underline);
        }

        &-remove-on-hover {
            @include text-underline(underline, none);
        }
    }
}