@mixin caret-down($caret-width: 0) {
    border-bottom: 0;
    border-left: $caret-width solid transparent;
    border-right: $caret-width solid transparent;
    border-top: $caret-width solid;
}

@mixin caret-up($caret-width: 0) {
    border-bottom: $caret-width solid;
    border-left: $caret-width solid transparent;
    border-right: $caret-width solid transparent;
    border-top: 0;
}

@mixin caret-right($caret-width: 0) {
    border-bottom: $caret-width solid transparent;
    border-left: $caret-width solid;
    border-top: $caret-width solid transparent;
}

@mixin caret-left($caret-width: 0) {
    border-bottom: $caret-width solid transparent;
    border-right: $caret-width solid;
    border-top: $caret-width solid transparent;
}

@mixin caret($caret-width: 0, $direction: down) {
    $pseudo-element: if($direction == left, before, after);

    &:#{$pseudo-element} {
        @if $direction == down {
            @include caret-down($caret-width);
        } @else if $direction == left {
            @include caret-left($caret-width);
        } @else if $direction == right {
            @include caret-right($caret-width);
        } @else if $direction == up {
            @include caret-up($caret-width);
        }
        content: '';
        display: inline-block;
        height: 0;
        @if $direction == left {
            margin-right: $caret-width * .85;
        } @else {
            margin-left: $caret-width * .85;
        }
        vertical-align: $caret-width * .85;
        width: 0;
    }

    &:empty {

        &:#{$pseudo-element} {
            @if $direction == left {
                margin-right: 0;
            } @else {
                margin-left: 0;
            }
        }
    }
}
