@mixin flash-message($type: 'normal', $multiple: true) {
    @include font-size(normal);
    background: color('gray-light');
    border-radius: $base-radius;
    box-shadow: 0 0 em(4px) color('shadow');
    color: color('gray-dark');
    line-height: line-height(normal);
    margin-top: 0;
    padding: em(10px) (em(10px) + line-height(normal) - 1em);
    text-align: left;

    @if $multiple {
        + #{&} {
            margin-top: em(10px);
        }
    }

    @if $type == 'error' {
        background: color('red');
        color: color('white');
    } @elseif $type == 'success' {
        background: color('green');
        color: color('white');
    }
}