@mixin input() {
    @include font-family(first);
    background: color('white');
    border: 1px solid color('gray');
    border-radius: $base-radius;
    color: color('gray-dark');
    display: block;
    line-height: line-height(normal);
    margin-bottom: space(1);
    margin-top: space(1);
    padding: em(11px);
    width: 100%;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}