@mixin text-underline($normal, $hover: $normal, $focus: $hover) {
    text-decoration: $normal;
    
    @if $focus == $hover {
        &:hover,
        &:focus {
            text-decoration: $hover;
        }
    } @else {
        &:hover {
            text-decoration: $hover;
        }

        &:focus {
            text-decoration: $focus;
        }
    }
}