/* scss/organism/_o-footer.scss */

.o-footer {
    background: color('gray-light');
    color: color('gray-dark');
    flex: 0 0 auto;
    text-align: center;

    a {
        @include text-underline(none, underline);

        &,
        &:visited {
            color: inherit;
        }
    }

    &__widgets {
        padding-bottom: space(2);
        padding-top: space(2);

        @media(min-width: breakpoint-min(md)) {
            padding-bottom: space(3);
            padding-top: space(3);
        }
    }

    &__socket {
        overflow: hidden;
        padding-bottom: space(2);
        padding-top: space(2);
    }

    &__column {

        @media(min-width: breakpoint-min(sm)) {
            text-align: left;
        }
    }

    &__logo {
        align-self: center;

        &__icon {
            display: block;
            height: auto;
            margin: 0 auto;
            max-width: 100%;
            width: 150px;

            @media(min-width: breakpoint-min(lg)) {
                margin-left: 0;
            }
        }
    }

    &__title {
        @include font-size(normal);
        line-height: line-height(normal);
    }

    &__icons {
        @include font-size(large);
        align-self: center;

        @media(min-width: breakpoint-min(lg)) {
            text-align: left;
        }
    }

    &__copy {
        @include font-size(small);

        @media(min-width: breakpoint-min(md)) {
            text-align: left;
        }
    }

    &__aitom {

        @media(min-width: breakpoint-min(md)) {
            text-align: right;
        }
    }
}