/* scss/organism/_o-grid3.scss */

.o-grid3 {

    &__column {
        display: flex;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex: 0 0 100%;
        max-width: 100%;
        padding: space(2);
        position: relative;

        &:link {
            @include text-underline(none);
        }

        > * {
            flex: 0 0 auto;
            position: relative;
            z-index: 1;
        }
    }

    &__top {
        margin-bottom: auto;
    }

    &__middle {
        margin-bottom: auto;
        margin-top: auto;
    }

    &__bottom {
        margin-top: auto;
    }

    & #{&}__background {
        z-index: 0;
    }
}