/* scss/organism/_o-grid4.scss */

.o-grid4 {
    $self: &;

    &__item {
        display: flex;
        flex-wrap: wrap;

        @media (min-width: breakpoint-min(sm)) {

            &:nth-child(4n + 1),
            &:nth-child(4n + 3) {

                #{$self}__column {

                    &:nth-child(1) {
                        order: 2;
                    }

                    &:nth-child(2) {
                        order: 1;
                    }
                }
            }
        }

        @media (min-width: breakpoint-min(xl)) {

            &:nth-child(4n + 2) {

                #{$self}__column {

                    &:nth-child(1) {
                        order: 2;
                    }

                    &:nth-child(2) {
                        order: 1;
                    }
                }
            }

            &:nth-child(4n + 3) {

                #{$self}__column {

                    &:nth-child(1) {
                        order: 1;
                    }

                    &:nth-child(2) {
                        order: 2;
                    }
                }
            }
        }
    }

    &__column {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;

        @media (min-width: breakpoint-min(sm)) {
            flex: 0 0 50%;
            max-width: 50%;
        }

        &--text {
            align-self: center;
            padding: space(2);

            @media (min-width: breakpoint-min(xl)) {
                padding: space(3);
            }
        }

        &--background {
            position: relative;

            &:after {
                content: '';
                display: block;
                padding-bottom: 100%;
            }
        }
    }

    &__background {
        background-position: center;
        background-size: cover;
        z-index: 0;
    }
}