/* scss/organism/_o-grid7.scss */

.o-grid7 {
    $self: &;
    $grid-gutter: 5px;

    margin: -($grid-gutter);

    &:after {
        @include clearfix();
    }

    &__item {
        display: block;
        float: left;
        padding: $grid-gutter;
        width: 100%;

        @media(min-width: breakpoint-min(sm)) {
            width: 50%;
        }

        @media(min-width: breakpoint-min(lg)) {
            width: 25%;
        }

        &--2,
        &--4 {
            width: 100%;

            @media(min-width: breakpoint-min(lg)) {
                width: 50%;
            }
        }

        &--4 {

            @media(min-width: breakpoint-min(lg)) {

                #{$self}__inner {
                    padding-top: $grid-gutter - 1px;
                }
            }
        }
    }

    &__inner {
        display: flex;
        position: relative;

        &:before {
            content: '';
            margin-left: -1px;
            padding-bottom: 100%;
            width: 1px;

            @media(min-width: breakpoint-min(lg)) {
                #{$self}__item--2 & {
                    padding-bottom: 50%;
                }
            }
        }
    }

    &__column {
        align-self: center;
        padding: space(1);
        position: relative;
        text-align: center;
        z-index: 1;

        @media(min-width: breakpoint-min(sm)) {
            padding: space(2);

            #{$self}__item--2 &,
            #{$self}__item--4 & {
                padding: space(4);
            }
        }

        @media(min-width: breakpoint-min(lg)) {
            #{$self}__item--2 & {
                padding: space(2);
            }
        }
    }

    &__background {
        background-position: center;
        background-size: cover;
        z-index: 0;
    }
}