/* scss/organism/_o-grid2.scss */

.o-grid2 {

    &__column {
        display: flex;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex: 0 0 100%;
        max-width: 100%;

        &:link {
            @include text-underline(none);
        }

        > * {
            flex: 0 0 auto;
        }
    }

    &__top {
        margin-bottom: auto;
    }

    &__middle {
        margin-bottom: auto;
        margin-top: auto;
    }

    &__bottom {
        margin-top: auto;
    }
}