/* scss/organism/_o-grid6.scss */

.o-grid6 {
    $self: &;

    @media (min-width: breakpoint-min(md)) {
        &:nth-child(odd) {

            #{$self}__column {

                &:nth-child(odd) {
                    order: 2;
                }

                &:nth-child(even) {
                    order: 1;
                }
            }
        }
    }

    &__column {
        display: flex;

        &--background {
            position: relative;

            &:after {
                content: '';
                display: block;
                padding-bottom: 56.25%;
            }
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex: 0 0 100%;
        max-width: 100%;
        padding: space(2);

        @media (min-width: breakpoint-min(md)) {
            padding: space(3);
        }

        &:link {
            @include text-underline(none);
        }
    }

    &__top {
        margin-bottom: auto;
    }

    &__middle {
        margin-bottom: auto;
        margin-top: auto;
    }

    &__bottom {
        margin-top: auto;
    }

    & #{&}__background {
        background-position: center;
        background-size: cover;
        z-index: 0;
    }
}