/* scss/organism/_o-grid1.scss */

.o-grid1 {
    $self: &;

    @media (min-width: breakpoint-min(md)) {
        &:nth-child(odd) {

            #{$self}__column {

                &:nth-child(odd) {
                    order: 2;
                }

                &:nth-child(even) {
                    order: 1;
                }
            }
        }
    }

    &__column {
        display: flex;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex: 0 0 100%;
        max-width: 100%;

        &:link {
            @include text-underline(none);
        }

        > * {
            flex: 0 0 auto;
        }
    }

    &__top {
        margin-bottom: auto;
    }

    &__middle {
        margin-bottom: auto;
        margin-top: auto;
    }

    &__bottom {
        margin-top: auto;
    }

    &__image {
        display: block;
    }

    & #{&}__background {
        z-index: 1;
    }
}