/* scss/organism/_o-header.scss */

.o-header {
    background: color('white');
    border-bottom: 1px solid color('gray');
    position: relative;
    z-index: 9;

    &--sticky {
        position: sticky;
        top: 0;
        transition: transform $base-transition ease-in-out;

        &.is-sticky {

            &.sticky-scroll-down {
                transform: translateY(-110%);
                transition-delay: $base-transition;
            }
        }
    }

    &__inner {
        padding-bottom: space(1);
        padding-top: space(1);
        position: relative;

        @media(min-width: breakpoint-min($menu-breakpoint)) {
            padding-bottom: space(2);
            padding-top: space(2);
        }
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
    }

    &__line {
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: ($grid-gutter-width / 2);
        padding-right: ($grid-gutter-width / 2);
        width: 100%;

        &--icons {
            align-self: flex-end;
            order: 9;
        }

        @each $breakpoint, $container-max-width in $container-max-widths {
            $breakpoint: breakpoint-min($breakpoint);

            @if strip-unit(breakpoint-min($menu-breakpoint)) > strip-unit($breakpoint) {
                @media (min-width: $breakpoint) {
                    max-width: $container-max-width;
                }
            }
        }

        @media(min-width: breakpoint-min($menu-breakpoint)) {
            align-self: unset;
            margin-left: initial;
            margin-right: initial;
            max-width: 100%;
            padding-left: initial;
            padding-right: initial;
            width: auto;

            + #{&} {
                margin-top: space(1);
            }
        }
    }

    &__column {
        align-items: center;
        display: flex;

        &--left {
            margin-right: auto;
        }

        &--right {
            margin-left: auto;
            text-align: right;
        }
    }

    &__logo {
        display: inline-block;
        font-size: 0;

        &__icon {
            display: inline-block;
            height: 30px;
            vertical-align: middle;

            @media(min-width: breakpoint-min($menu-breakpoint)) {
                height: 50px;
            }
        }
    }

    &__icon {
        @include font-size(large);
        display: inline-block;
    }

    &__mail {
        @include text-underline(none);

        &,
        &:hover,
        &:focus,
        &:visited {
            color: color('black');
        }

        &__text {
            display: none;
            vertical-align: middle;

            @media(min-width: breakpoint-min($menu-breakpoint)) {
                display: inline;
                margin-left: em(8px);
            }
        }

        &:hover &__text {
            text-decoration: underline;
        }
    }

    &__search {
        color: color('black');
        cursor: pointer;
        display: inline-block;
    }

    &__separator {
        border-left: 1px solid color('gray');
        display: inline;
        line-height: line-height(large);
        margin-left: 15px;
        margin-right: 15px;
    }

    &__nav {
        background: transparentize(color('white'), .2);
        display: flex;
        flex-flow: row wrap;
        height: 100%;
        left: 100%;
        overflow: auto;
        padding: 60px 0 40px; // 60px ~ header height
        position: fixed;
        text-align: right;
        top: 0;
        transition: $base-transition;
        width: 100%;
        z-index: 9;

        @media(min-width: breakpoint-min($menu-breakpoint)) {
            background: transparent;
            display: inline-block;
            flex-flow: unset;
            height: auto;
            left: auto;
            overflow: visible;
            padding: 0;
            position: static;
            text-align: right;
            top: auto;
            transition: none;
            width: auto;
        }
    }

    #{$menu-status} &__nav {
        left: 0;
    }
}