/* scss/organism/_o-styleguide.scss */

.o-styleguide {

    @if variable-exists(icons) {
        $list: ();

        @each $name, $char in $icons {
            $list: append($list, $char);
        }

        & #{&}__icons {

            &:before {
                @include calc-size(font-size, 20px, 50px);
                content: "#{$list}";
                display: block;
                letter-spacing: .8em;
                line-height: 2em;
                text-align: left;
                width: 100%;
            }
        }
    }
}