/* scss/organism/_o-wysiwyg.scss */

.o-wysiwyg {

    img {
        margin: space(2) auto;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        @media (max-width: breakpoint-max(xs)) {
            float: none !important; // sass-lint:disable-line no-important
            width: 100% !important; // sass-lint:disable-line no-important
        }

        @media (min-width: breakpoint-min(sm)) {
            &.alignright,
            &.float-right,
            &[style*="float: right"],
            &[style*="float:right"] {
                margin-left: space(2);
                margin-right: 0;
            }

            &.alignleft,
            &.float-left,
            &[style*="float: left"],
            &[style*="float:left"] {
                margin-left: 0;
                margin-right: space(2);
            }
        }

        @media (min-width: breakpoint-min(lg)) {
            &.alignright,
            &.float-right,
            &[style*="float: right"],
            &[style*="float:right"] {
                margin-left: space(3);
            }

            &.alignleft,
            &.float-left,
            &[style*="float: left"],
            &[style*="float:left"] {
                margin-right: space(3);
            }
        }
    }

    .lightbox {

        & > img {
            display: inline-block;
            margin-bottom: space(2);
            margin-top: space(2);
        }

        &:first-child > img {
            margin-top: 0;
        }

        &:last-child > img {
            margin-bottom: 0;
        }
    }
}