/* scss/base/extensions/_line-gutters.scss */

.line-gutters {
    margin: -1px 0 0 -1px;

    > .col,
    > [class*="col-"] {
        margin-bottom: 0;
        margin-top: 1px;
        padding-left: 1px;
        padding-right: 0;
    }
}