/* scss/base/extensions/_row.scss */

.row {
    margin-bottom: -($grid-gutter-width / 2);
    margin-top: -($grid-gutter-width / 2);

    > .col,
    > [class*="col-"] {
        margin-bottom: ($grid-gutter-width / 2);
        margin-top: ($grid-gutter-width / 2);
    }
}