/* scss/atoms/_a-button.scss */

.a-button {
    @include font-family(first, bold);
    @include font-size(normal);
    @include text-underline(none);
    background: color('gray');
    border: 0;
    color: color('black');
    cursor: pointer;
    display: inline-block;
    line-height: line-height(normal);
    max-width: 100%;
    min-width: 0;
    overflow: hidden;
    padding: em(12px);
    text-align: center;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;

    &,
    &:visited {
        color: color('black');

        &:hover {
            color: color('gray-dark');
        }
    }

    &[disabled="disabled"] {
        background: color('gray-light');
        color: color('gray-dark');
        cursor: default;

        &:hover {
            background: color('gray-light');
            color: color('gray-dark');
        }
    }

    &--block {
        min-width: 0;
        width: 100%;
    }

    @media(min-width: breakpoint-min(md)) {
        min-width: em(200px);
    }
}