/* scss/atoms/_a-background.scss */

.a-background {
    background-position: center top;
    background-repeat: no-repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    &--cover {
        background-size: cover;
    }

    &--contain {
        background-size: contain;
    }

    &--center {
        background-position: center center;
    }

    &--fixed {
        background-attachment: fixed;
        background-position: center center;
    }
}