/* scss/atoms/_a-form-select.scss */

.a-form-select {
    @include input();
    appearance: none;
    background-color: color('white');
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 4'%3E%3Cpath fill='%23#{str-slice(#{color('black')}, 2)}' d='M0 0h8L4 4'/%3E%3C/svg%3E");
    background-position: right em(20px) center;
    background-repeat: no-repeat;
    background-size: em(10px 4px);

    // sass-lint:disable no-vendor-prefixes
    &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 color('gray-dark');
    }

    &::-ms-expand {
        display: none;
    }
    // sass-lint:enable no-vendor-prefixes
}