/* scss/atoms/_a-form-error.scss */

.a-form-error {
    $caret-width: em(5px);

    @include caret($caret-width, up);
    background: color('gray');
    border-radius: $base-radius;
    left: 0;
    margin-top: $caret-width;
    max-width: 100%;
    padding: em(5px 10px);
    position: absolute;
    top: 100%;
    z-index: 9;

    &:after {
        color: color('gray');
        left: $caret-width;
        margin: 0;
        position: absolute;
        top: -$caret-width;
    }
}