/* scss/atoms/_a-form-description.scss */

.a-form-description {
    display: block;
    margin-bottom: space(1);
    margin-top: space(1);

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}