/* scss/atoms/_a-form-label.scss */

.a-form-label {
    display: block;
    margin-bottom: space(1);
    margin-top: space(1);

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &__asterisk {
        color: color('red');
    }
}