/* scss/atoms/_a-icon.scss */

@if variable-exists(icons) {
    .a-icon,
    [class^="a-icon"],
    [class*=" a-icon"] {
        @include icon;

        &:before {
            display: inline-block;
            text-align: center;
            width: 1.25em;
        }
    }

    .a-icon {

        @each $name, $char in $icons {
            &-#{$name} {

                &:before {
                    content: $char;
                }
            }
        }
    }
}