/* scss/atoms/_a-max-width.scss */

.a-max-width {
    padding-right: ($grid-gutter-width / 2);
    padding-left: ($grid-gutter-width / 2);

    @each $breakpoint, $container-max-width in $container-max-widths {
        &-#{$breakpoint} {
            max-width: $container-max-width;
        }
    }
}